<ion-header>
  <ion-toolbar>
    <ion-title>Liste des recettes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="recipes.length > 0; else noRecipes">
    <ion-item *ngFor="let recipe of recipes">
      <ion-label>
        <h2>{{ recipe.name }}</h2>
        <p>{{ recipe.instructions }}</p>
        <!-- Ajoutez d'autres propriétés de recette à afficher -->
      </ion-label>
    </ion-item>
  </ion-list>

  <ng-template #noRecipes>
    <p>Aucune recette n'a été trouvée.</p>
  </ng-template>
</ion-content>
